<!DOCTYPE html>


<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>
<body class="imageRecipe">
  <div class ="container">
  
    <% include ../static/partials/navbar.ejs %>

    <% include ../static/partials/messages.ejs %>
    <h1 class="recipeTitle">Brew Recipes</h1>
   
    <% if(currentUser) { %>
    <a href="/recipes/new" class="btn btn-light" id="wrapper">Submit New Recipe</a>
    <% } %>
   
    <ul class="recipe-list">

      <% recipes.forEach((recipe) => { %>
      <li class="recipe-list__item">
        <a href="/recipes/<%= recipe.id %>">
          <%= recipe.title %> 
          <%= ":" %> 
          <%= recipe.style %></a>
      </li>
      <% }) %>
    </ul>
  </main>
  </div>
</body>

</html>