<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body class="recipeShow">
    <main class="container">
  <% include ../static/partials/navbar.ejs %>

 
    <% include ../static/partials/messages.ejs %>

    <h1 id="new_brew">NEW BREW </h1>
    
    <form action="/recipes/create" method="post">
      <div class="form-group">

        <label for="title">Brew Name:</label>
        <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Beer Name">
      </div>
        <label for="style">Style</label>
        <select class="form-select" name="style" >
          <option>Choose Style</option>
          <option value="Ale">Ale</option>
          <option value="Blonde Ale">Blonde</option>
          <option value="Brown Ale">Brown</option>
          <option value="IPA">IPA</option>
          <option value="Kolsch">Kolsch</option>
          <option value="Lager">Lager</option>
          <option value="Pilsner">Pilsner</option>
          <option value="Porter">Porter</option>
          <option value="Red/Amber Ale">Red/Amber</option>
          <option value="Sour">Sour/Gose</option>
          <option value="Stout">Stout</option>

        </select>
      </div>


      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea rows="4" class="form-control" name="ingredients" placeholder="Enter Ingredients"></textarea>
      </div>
      <div class="form-group">
        <label for="directions">Directions</label>
        <textarea rows="4" class="form-control" name="directions" placeholder="Enter Directions"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>