<!DOCTYPE html>

<head>
  <% include ./partials/head.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Roboto+Mono" rel="stylesheet">

</head>

<body class ="blackout">

  <% include ./partials/navbar.ejs %>



  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <div class="container demo">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title"><span class="thin">Brewtal</span> Galaxy</h1>
          <h2 class="plato">"He was a wise man who </span>invented beer" <br>-Plato-<br></h2>
        </div>


      </div>
    </div>

 </main>



  <% include ./partials/baseScripts.ejs %>

</body>

</html>