<!DOCTYPE html>
  <head>
    <% include ./partials/head.ejs %>

  </head>
  <body>

    <% include ./partials/navbar.ejs %>


     
      <main class="container">
          <% include ../static/partials/messages.ejs %>


      
        <header class="jumbotron my-4">
          <h1 class="display-3">BREWTAL HOPS</h1>
          <p class="lead">Start Brewing! </p>

  
      <a href="/users/signup" class="btn btn-primary">Sign up</a>

    </form>

        </header>

       
        <section class="row text-center">

         <!--  <section class="col-lg-5">
            <h4 class="card-title">Recipes</h4>
            <p class="card-text">Try new beers!</p>
          </section>

          <section class="col-lg-5">
            <h4 class="card-title">Supplies</h4>
            <p class="card-text">Purchase home brewing products!</p>
          </section>

          <section class="col-lg-5">
            <h4 class="card-title">Share</h4>
            <p class="card-text"> Share your thoughts and recipes to other brewers!</p>
          </section> -->

        </section>
      

      </main>
 

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>