<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
   
        <% include ../static/partials/messages.ejs %>

        <h1><%= `${currentUser.name}'s Profile` %></h1>
        <h3>Let's get Brewing! %></h3>

        <h3>INFO:</h3>
        <h4>
            <%= currentUser.email %>
        </h4>      
       
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html> 
