<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>


<body class="bottleBG">
 

  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <div id="bg"></div>
    
    

    <form action="/users/signin" method="post">
      <h1 class="signInTitle">Sign in</h1>
   
        <label for="email"></label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="text-muted" id="emailHelp"></small>
    

        <label for="password"></label>
        <input type="password" class="form-control" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
        <small class="text-muted" id="passwordHelp"></small>
    </label>
    <button type="submit" class="btn btn-primary">Sign in</button>

  </div>



      
    </form>
  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>